/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/tailwind.css ***!
  \**************************************************************************************************************/
.pointer-events-none {
    pointer-events: none
}

.visible {
    visibility: visible
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.sticky {
    position: sticky
}

.inset-0 {
    inset: 0px
}

.-left-\[999px\] {
    left: -999px
}

.-right-\[400px\] {
    right: -400px
}

.-top-\[999px\] {
    top: -999px
}

.bottom-0 {
    bottom: 0px
}

.left-0 {
    left: 0px
}

.right-0 {
    right: 0px
}

.top-0 {
    top: 0px
}

.-top-3 {
    top: -12px
}

.top-1\/2 {
    top: 50%
}

.isolate {
    isolation: isolate
}

.z-50 {
    z-index: 50
}

.z-10 {
    z-index: 10
}

.z-20 {
    z-index: 20
}

.col-span-2 {
    grid-column: span 2 / span 2
}

.m-0 {
    margin: 0px
}

.\!my-0 {
    margin-top: 0px !important;
    margin-bottom: 0px !important
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my-0 {
    margin-top: 0px;
    margin-bottom: 0px
}

.my-2 {
    margin-top: 8px;
    margin-bottom: 8px
}

.my-3 {
    margin-top: 12px;
    margin-bottom: 12px
}

.\!mb-0 {
    margin-bottom: 0px !important
}

.\!mb-12 {
    margin-bottom: 48px !important
}

.\!mb-2 {
    margin-bottom: 8px !important
}

.\!mb-3 {
    margin-bottom: 12px !important
}

.\!mb-6 {
    margin-bottom: 24px !important
}

.\!mb-8 {
    margin-bottom: 32px !important
}

.\!mt-0 {
    margin-top: 0px !important
}

.mb-0 {
    margin-bottom: 0px
}

.mb-12 {
    margin-bottom: 48px
}

.mb-2 {
    margin-bottom: 8px
}

.mb-3 {
    margin-bottom: 12px
}

.mb-4 {
    margin-bottom: 16px
}

.mb-5 {
    margin-bottom: 20px
}

.ml-auto {
    margin-left: auto
}

.mt-0 {
    margin-top: 0px
}

.mt-2 {
    margin-top: 8px
}

.mt-4 {
    margin-top: 16px
}

.mt-6 {
    margin-top: 24px
}

.mt-auto {
    margin-top: auto
}

.mb-8 {
    margin-bottom: 32px
}

.mb-1 {
    margin-bottom: 4px
}

.mb-10 {
    margin-bottom: 40px
}

.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3
}

.block {
    display: block
}

.flex {
    display: flex
}

.table {
    display: table
}

.grid {
    display: grid
}

.hidden {
    display: none
}

.aspect-square {
    aspect-ratio: 1 / 1
}

.aspect-video {
    aspect-ratio: 16 / 9
}

.\!size-5 {
    width: 20px !important;
    height: 20px !important
}

.size-14 {
    width: 56px;
    height: 56px
}

.size-8 {
    width: 32px;
    height: 32px
}

.\!h-8 {
    height: 32px !important
}

.h-auto {
    height: auto
}

.h-full {
    height: 100%
}

.h-3 {
    height: 12px
}

.h-8 {
    height: 32px
}

.min-h-\[200px\] {
    min-height: 200px
}

.\!w-auto {
    width: auto !important
}

.w-\[400px\] {
    width: 400px
}

.w-auto {
    width: auto
}

.w-full {
    width: 100%
}

.w-6 {
    width: 24px
}

.max-w-3xl {
    max-width: 768px
}

.max-w-\[500px\] {
    max-width: 500px
}

.max-w-full {
    max-width: 100%
}

.max-w-md {
    max-width: 448px
}

.flex-1 {
    flex: 1 1 0%
}

.flex-shrink {
    flex-shrink: 1
}

.-translate-y-1\/2 {
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-rotate-12 {
    --tw-rotate: -12deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rotate-12 {
    --tw-rotate: 12deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-105 {
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cursor-pointer {
    cursor: pointer
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr))
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
}

.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr))
}

.flex-col {
    flex-direction: column
}

.flex-wrap {
    flex-wrap: wrap
}

.items-center {
    align-items: center
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.gap-1 {
    gap: 4px
}

.gap-12 {
    gap: 48px
}

.gap-2 {
    gap: 8px
}

.gap-3 {
    gap: 12px
}

.gap-4 {
    gap: 16px
}

.overflow-hidden {
    overflow: hidden
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.whitespace-nowrap {
    white-space: nowrap
}

.rounded {
    border-radius: 4px
}

.rounded-full {
    border-radius: 9999px
}

.rounded-lg {
    border-radius: 8px
}

.rounded-xl {
    border-radius: 12px
}

.rounded-sm {
    border-radius: 2px
}

.border {
    border-width: 1px
}

.border-0 {
    border-width: 0px
}

.border-2 {
    border-width: 2px
}

.border-b {
    border-bottom-width: 1px
}

.border-solid {
    border-style: solid
}

.border-blue-700 {
    --tw-border-opacity: 1;
    border-color: rgb(29 78 216 / var(--tw-border-opacity, 1))
}

.border-gray-100 {
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-border-opacity, 1))
}

.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity, 1))
}

.border-transparent {
    border-color: transparent
}

.border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity, 1))
}

.border-green-100 {
    --tw-border-opacity: 1;
    border-color: rgb(220 252 231 / var(--tw-border-opacity, 1))
}

.border-green-500 {
    --tw-border-opacity: 1;
    border-color: rgb(34 197 94 / var(--tw-border-opacity, 1))
}

.border-red-100 {
    --tw-border-opacity: 1;
    border-color: rgb(254 226 226 / var(--tw-border-opacity, 1))
}

.border-red-500 {
    --tw-border-opacity: 1;
    border-color: rgb(239 68 68 / var(--tw-border-opacity, 1))
}

.border-slate-900 {
    --tw-border-opacity: 1;
    border-color: rgb(15 23 42 / var(--tw-border-opacity, 1))
}

.bg-black\/50 {
    background-color: rgb(0 0 0 / 0.5)
}

.bg-blue-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(219 234 254 / var(--tw-bg-opacity, 1))
}

.bg-transparent {
    background-color: transparent
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}

.bg-blue-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1))
}

.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1))
}

.bg-green-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(240 253 244 / var(--tw-bg-opacity, 1))
}

.bg-green-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(34 197 94 / var(--tw-bg-opacity, 1))
}

.bg-red-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(254 242 242 / var(--tw-bg-opacity, 1))
}

.bg-slate-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity, 1))
}

.bg-cover {
    background-size: cover
}

.bg-center {
    background-position: center
}

.bg-left {
    background-position: left
}

.object-contain {
    -o-object-fit: contain;
       object-fit: contain
}

.object-cover {
    -o-object-fit: cover;
       object-fit: cover
}

.object-center {
    -o-object-position: center;
       object-position: center
}

.p-0 {
    padding: 0px
}

.p-3 {
    padding: 12px
}

.p-4 {
    padding: 16px
}

.p-6 {
    padding: 24px
}

.p-2 {
    padding: 8px
}

.\!px-0 {
    padding-left: 0px !important;
    padding-right: 0px !important
}

.\!px-3 {
    padding-left: 12px !important;
    padding-right: 12px !important
}

.px-4 {
    padding-left: 16px;
    padding-right: 16px
}

.py-2 {
    padding-top: 8px;
    padding-bottom: 8px
}

.px-2 {
    padding-left: 8px;
    padding-right: 8px
}

.py-0\.5 {
    padding-top: 2px;
    padding-bottom: 2px
}

.py-24 {
    padding-top: 96px;
    padding-bottom: 96px
}

.py-4 {
    padding-top: 16px;
    padding-bottom: 16px
}

.pb-0 {
    padding-bottom: 0px
}

.pl-12 {
    padding-left: 48px
}

.pl-8 {
    padding-left: 32px
}

.pt-2 {
    padding-top: 8px
}

.pt-6 {
    padding-top: 24px
}

.pb-12 {
    padding-bottom: 48px
}

.pb-8 {
    padding-bottom: 32px
}

.pb-6 {
    padding-bottom: 24px
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.font-mono {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

.font-sans {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.text-2xl {
    font-size: 24px;
    line-height: 32px
}

.text-3xl {
    font-size: 30px;
    line-height: 36px
}

.text-base {
    font-size: 16px;
    line-height: 24px
}

.text-lg {
    font-size: 18px;
    line-height: 28px
}

.text-sm {
    font-size: 14px;
    line-height: 20px
}

.text-xl {
    font-size: 20px;
    line-height: 28px
}

.text-4xl {
    font-size: 36px;
    line-height: 40px
}

.text-5xl {
    font-size: 48px;
    line-height: 1
}

.text-\[10px\] {
    font-size: 10px
}

.text-\[9px\] {
    font-size: 9px
}

.font-black {
    font-weight: 900
}

.font-bold {
    font-weight: 700
}

.font-medium {
    font-weight: 500
}

.font-semibold {
    font-weight: 600
}

.uppercase {
    text-transform: uppercase
}

.capitalize {
    text-transform: capitalize
}

.italic {
    font-style: italic
}

.leading-\[50px\] {
    line-height: 50px
}

.leading-snug {
    line-height: 1.375
}

.leading-\[0\.85\] {
    line-height: 0.85
}

.leading-none {
    line-height: 1
}

.tracking-wider {
    letter-spacing: 0.05em
}

.tracking-tight {
    letter-spacing: -0.025em
}

.tracking-tighter {
    letter-spacing: -0.05em
}

.tracking-wide {
    letter-spacing: 0.025em
}

.tracking-widest {
    letter-spacing: 0.1em
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity, 1))
}

.text-blue-700 {
    --tw-text-opacity: 1;
    color: rgb(29 78 216 / var(--tw-text-opacity, 1))
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity, 1))
}

.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity, 1))
}

.text-slate-600 {
    --tw-text-opacity: 1;
    color: rgb(71 85 105 / var(--tw-text-opacity, 1))
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

.text-green-600 {
    --tw-text-opacity: 1;
    color: rgb(22 163 74 / var(--tw-text-opacity, 1))
}

.text-red-400 {
    --tw-text-opacity: 1;
    color: rgb(248 113 113 / var(--tw-text-opacity, 1))
}

.text-red-600 {
    --tw-text-opacity: 1;
    color: rgb(220 38 38 / var(--tw-text-opacity, 1))
}

.text-slate-900 {
    --tw-text-opacity: 1;
    color: rgb(15 23 42 / var(--tw-text-opacity, 1))
}

.line-through {
    text-decoration-line: line-through
}

.no-underline {
    text-decoration-line: none
}

.opacity-0 {
    opacity: 0
}

.shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-\[0_8px_30px_rgba\(239\2c 68\2c 68\2c 0\.15\)\] {
    --tw-shadow: 0 8px 30px rgba(239,68,68,0.15);
    --tw-shadow-colored: 0 8px 30px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-\[0_8px_30px_rgba\(34\2c 197\2c 94\2c 0\.15\)\] {
    --tw-shadow: 0 8px 30px rgba(34,197,94,0.15);
    --tw-shadow-colored: 0 8px 30px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-blue-200 {
    --tw-shadow-color: #bfdbfe;
    --tw-shadow: var(--tw-shadow-colored)
}

.outline {
    outline-style: solid
}

.drop-shadow-sm {
    --tw-drop-shadow: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}

.duration-300 {
    transition-duration: 300ms
}

.\[display\:grid\] {
    display: grid
}

.\[display\:none\] {
    display: none
}

.animate-move-left {
    animation: move-left 50s linear infinite
}

@keyframes move-left {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(-50%)
    }
}

.hover\:scale-\[1\.02\]:hover {
    --tw-scale-x: 1.02;
    --tw-scale-y: 1.02;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.hover\:bg-blue-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(29 78 216 / var(--tw-bg-opacity, 1))
}

.hover\:underline:hover {
    text-decoration-line: underline
}

.active\:scale-95:active {
    --tw-scale-x: .95;
    --tw-scale-y: .95;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@media (min-width: 768px) {

    .md\:-order-1 {
        order: -1
    }

    .md\:\!mb-12 {
        margin-bottom: 48px !important
    }

    .md\:mt-12 {
        margin-top: 48px
    }

    .md\:block {
        display: block
    }

    .md\:hidden {
        display: none
    }

    .md\:w-1\/2 {
        width: 50%
    }

    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }

    .md\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }

    .md\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr))
    }

    .md\:gap-6 {
        gap: 24px
    }

    .md\:bg-center {
        background-position: center
    }

    .md\:px-10 {
        padding-left: 40px;
        padding-right: 40px
    }

    .md\:text-left {
        text-align: left
    }

    .md\:text-4xl {
        font-size: 36px;
        line-height: 40px
    }

    .md\:text-6xl {
        font-size: 60px;
        line-height: 1
    }
}

@media (min-width: 1024px) {

    .lg\:w-1\/12 {
        width: 8.333333%
    }

    .lg\:w-5\/12 {
        width: 41.666667%
    }
}

.\[\&\>p\:first-child\]\:mt-0>p:first-child {
    margin-top: 0px
}

.\[\&\>p\:last-child\]\:mb-0>p:last-child {
    margin-bottom: 0px
}

.\[\&\>ul\]\:pl-6>ul {
    padding-left: 24px
}

.\[\&\>ul\]\:text-left>ul {
    text-align: left
}

.\[\&_br\]\:hidden br {
    display: none
}
