/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/tailwind.css ***!
  \**************************************************************************************************************/
.visible {
    visibility: visible
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.sticky {
    position: sticky
}

.isolate {
    isolation: isolate
}

.m-0 {
    margin: 0px
}

.\!my-0 {
    margin-top: 0px !important;
    margin-bottom: 0px !important
}

.mb-2 {
    margin-bottom: 8px
}

.\!mb-2 {
    margin-bottom: 8px !important
}

.\!mt-0 {
    margin-top: 0px !important
}

.mt-0 {
    margin-top: 0px
}

.\!mb-3 {
    margin-bottom: 12px !important
}

.mb-0 {
    margin-bottom: 0px
}

.mt-2 {
    margin-top: 8px
}

.mb-8 {
    margin-bottom: 32px
}

.\!mb-8 {
    margin-bottom: 32px !important
}

.block {
    display: block
}

.flex {
    display: flex
}

.table {
    display: table
}

.grid {
    display: grid
}

.hidden {
    display: none
}

.size-3 {
    width: 12px;
    height: 12px
}

.\!size-5 {
    width: 20px !important;
    height: 20px !important
}

.size-14 {
    width: 56px;
    height: 56px
}

.flex-shrink {
    flex-shrink: 1
}

.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cursor-pointer {
    cursor: pointer
}

.flex-wrap {
    flex-wrap: wrap
}

.items-center {
    align-items: center
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.gap-2 {
    gap: 8px
}

.gap-1 {
    gap: 4px
}

.gap-4 {
    gap: 16px
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.rounded-full {
    border-radius: 9999px
}

.rounded-lg {
    border-radius: 8px
}

.border {
    border-width: 1px
}

.border-0 {
    border-width: 0px
}

.border-2 {
    border-width: 2px
}

.border-solid {
    border-style: solid
}

.border-gray-600 {
    --tw-border-opacity: 1;
    border-color: rgb(75 85 99 / var(--tw-border-opacity, 1))
}

.border-blue-500 {
    --tw-border-opacity: 1;
    border-color: rgb(59 130 246 / var(--tw-border-opacity, 1))
}

.border-transparent {
    border-color: transparent
}

.border-blue-700 {
    --tw-border-opacity: 1;
    border-color: rgb(29 78 216 / var(--tw-border-opacity, 1))
}

.bg-blue-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(219 234 254 / var(--tw-bg-opacity, 1))
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}

.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1))
}

.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1))
}

.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1))
}

.p-4 {
    padding: 16px
}

.p-1 {
    padding: 4px
}

.p-0 {
    padding: 0px
}

.pt-2 {
    padding-top: 8px
}

.pb-0 {
    padding-bottom: 0px
}

.text-lg {
    font-size: 18px;
    line-height: 28px
}

.text-xl {
    font-size: 20px;
    line-height: 28px
}

.text-2xl {
    font-size: 24px;
    line-height: 32px
}

.text-sm {
    font-size: 14px;
    line-height: 20px
}

.text-base {
    font-size: 16px;
    line-height: 24px
}

.font-medium {
    font-weight: 500
}

.font-semibold {
    font-weight: 600
}

.uppercase {
    text-transform: uppercase
}

.capitalize {
    text-transform: capitalize
}

.italic {
    font-style: italic
}

.leading-\[50px\] {
    line-height: 50px
}

.text-slate-600 {
    --tw-text-opacity: 1;
    color: rgb(71 85 105 / var(--tw-text-opacity, 1))
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity, 1))
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity, 1))
}

.line-through {
    text-decoration-line: line-through
}

.shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.outline {
    outline-style: solid
}

.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.animate-move-left {
    animation: move-left 50s linear infinite
}

@keyframes move-left {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(-50%)
    }
}
